<?xml version="1.0" ?>
<launch>
  
  <arg name="file" default="camera" />
  <!--
  The automated calibration routine launch the manual calibration nodes and makes the required
  -->

  <include file="$(find rgbd_depth_correction)/launch/calibrate.launch">
    <arg name="file" value="$(arg file)" />
  </include>

    <!--include file="$(find rgbd_depth_correction)/launch/v1_calibrate.launch">
      <arg name="file" value="$(arg file)" />
    </include-->

  <include file="$(find robo_cylinder)/launch/robo_cylinder.launch" />

  <node pkg="rgbd_depth_correction" type="automated_depth_calibration"
  name="automated_calibration_node" output="screen"  required="true">
    <param name="~start_rail_location" value="0.6"/>
    <param name="~end_rail_location" value="0.0"/>
    <param name="~data_points" value="5"/>
  </node>

</launch>
